In [268]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [269]:
rm_df = pd.read_csv("./data/rightmove.csv", index_col=0)
otm_df= pd.read_csv("./data/onthemarket.csv", index_col=0)
zpl_df = pd.read_csv("./data/zoopla.csv", index_col=0)
zpl_batch2 = pd.read_csv("./data/zoopla_batch2.csv", index_col=0)
zpl_batch3 = pd.read_csv("./data/zoopla_batch3.csv", index_col=0)
zpl_batch4 = pd.read_csv("./data/zoopla_batch4.csv", index_col=0)
zpl_batch5 = pd.read_csv("./data/zoopla_batch5.csv", index_col=0)
zpl_batch8 = pd.read_csv("./data/zoopla_batch8.csv", index_col=0)

In [270]:
rm_df.head()

,index,Transaction_type,Bedroom,Bathrooms,Description,Property_type,Price,Location,Agent,Listing_url,Borough,Date
0,0,Sale,2.0,1.0,Proctors Bromley office is delighted to offer ...,Terraced,"£425,000","Plaistow Lane, Bromley, BR1","Added on 13/05/2023 by Proctors, Bromley",https://www.rightmove.co.uk/,Bromley,2023-05-26
1,1,Sale,NaN,NaN,Private residential development opportunity lo...,Plot for sale,"£5,750,000","Plaistow Lane, Bromley, BR1","Marketed by Knight Frank Land, London",https://www.rightmove.co.uk/,Bromley,2023-05-26
2,2,Sale,6.0,5.0,Located in one of Bickley's finest private roa...,Detached,"£2,500,000","Plaistow Lane, Bromley, BR1","Added on 10/05/2023 by Alan de Maid, Chislehurst",https://www.rightmove.co.uk/,Bromley,2023-05-26
3,3,Sale,5.0,5.0,"Guide Price £2,500,000 to £2,600,000. Brand ne...",Detached,"£2,500,000","Plaistow Lane, Bromley, BR1","Added on 16/03/2023 by Unique, Langford Russel...",https://www.rightmove.co.uk/,Bromley,2023-05-26
4,4,Sale,6.0,3.0,"This leafy, gentle cul-de-sac is a lovely loca...",Detached,"£2,400,000","Plaistow Lane, Bromley, BR1","Added on 22/02/2023 by jdm, Chislehurst",https://www.rightmove.co.uk/,Bromley,2023-05-26

We would have to drop the index column as it not is not needed

In [271]:
rm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90476 entries, 0 to 90475
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             90476 non-null  int64
 1   Transaction_type  90476 non-null  object
 2   Bedroom           89412 non-null  float64
 3   Bathrooms         82617 non-null  float64
 4   Description       90475 non-null  object
 5   Property_type     90476 non-null  object
 6   Price             90476 non-null  object
 7   Location          90476 non-null  object
 8   Agent             90476 non-null  object
 9   Listing_url       90476 non-null  object
 10  Borough           90476 non-null  object
 11  Date              90476 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 9.0+ MB

In [272]:
otm_df

,index,Result_id,Transaction_type,Bedroom,Bathroom,Property_type,Price,Location,Agent,Listing_url,postcode,Borough,Date
0,0,result-12923747,Sale,3,1.0,3 bedroom flat for sale,"Offers in excess of\n£575,000","Shawfield Park, Bromley",Kinleigh Folkard & Hayward - Chislehurst Sales,https://www.onthemarket.com/details/12923747/,BR1,Bromley,2023-05-27
1,1,result-13261675,Sale,2,2.0,2 bedroom flat for sale,"£475,000","Holmbury Park, Bromley",Kinleigh Folkard & Hayward - Chislehurst Sales,https://www.onthemarket.com/details/13261675/,BR1,Bromley,2023-05-27
2,2,result-13263288,Sale,3,1.0,3 bedroom end of terrace house for sale,"£450,000","Rangefield Road, Bromley",BR Estate Agent - Bromley,https://www.onthemarket.com/details/13263288/,BR1,Bromley,2023-05-27
3,3,result-13187264,Sale,6,3.0,6 bedroom detached house for sale,"£1,150,000","College Road, Bromley, BR1",Foxtons - Bromley,https://www.onthemarket.com/details/13187264/,BR1,Bromley,2023-05-27
4,4,result-13257555,Sale,1,1.0,1 bedroom flat for sale,"Offers in excess of\n£300,000","Faro Close, Bromley, BR1 2RR",Hunters - Chislehurst & Bromley,https://www.onthemarket.com/details/13257555/,BR1,Bromley,2023-05-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67812,67812,result-12812033,Rent,3,3.0,3 bedroom apartment to rent,"Tenancy info\n£6,045 pcm (£1,395 pw)",Essex Street London WC2R,JLL - City,https://www.onthemarket.com/details/12812033/,WC2R,Westminster,2023-05-27
67813,67813,result-12748915,Rent,2,2.0,2 bedroom flat to rent,"Tenancy info\n£4,117 pcm (£950 pw)","Tavistock Street, Covent Garden, London, WC2E",Foxtons - West End,https://www.onthemarket.com/details/12748915/,WC2R,Westminster,2023-05-27
67814,67814,result-12095650,Rent,1,1.0,1 bedroom apartment to rent,"Tenancy info\n£2,925 pcm (£675 pw)","Strand, London, WC2R",Stirling Ackroyd - West End,https://www.onthemarket.com/details/12095650/,WC2R,Westminster,2023-05-27
67815,67815,result-10926383,Rent,NaN,NaN,Property to rent,Tenancy info\n£300 pcm (£69 pw),"Serviced Office From £300 PCM – Adam Street, T...",NaN,https://www.onthemarket.com/details/10926383/,WC2R,Westminster,2023-05-27
67816,67816,result-10925970,Rent,NaN,NaN,Property to rent,Tenancy info\n£347 pcm (£80 pw),Serviced Offices From £347 PCM – Golden Cross ...,NaN,https://www.onthemarket.com/details/10925970/,WC2R,Westminster,2023-05-27

In [273]:
otm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67817 entries, 0 to 67816
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             67817 non-null  int64
 1   Result_id         67817 non-null  object
 2   Transaction_type  67817 non-null  object
 3   Bedroom           66835 non-null  object
 4   Bathroom          63608 non-null  float64
 5   Property_type     67817 non-null  object
 6   Price             67817 non-null  object
 7   Location          67817 non-null  object
 8   Agent             14998 non-null  object
 9   Listing_url       67817 non-null  object
 10  postcode          67817 non-null  object
 11  Borough           67817 non-null  object
 12  Date              67817 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 7.2+ MB

In [274]:
zpl_df.head()

,index,Result_id,Transaction_type,Bedroom,Bathroom,Property_type,Price,Location,Agent,Listing_url,postcode,Borough,Date
0,0,listing_64729559,Sale,3.0,2.0,3 bed town house for sale,"£525,000","Spencer Road, Bromley BR1",Proctors - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
1,1,listing_64725613,Sale,2.0,2.0,2 bed flat for sale,"£525,000","Rodway Road, Bromley BR1",Langford Russell - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
2,2,listing_64724547,Sale,3.0,1.0,3 bed end terrace house for sale,"£525,000","Rangefield Road, Downham, Bromley BR1",BR Estate Agent,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
3,3,listing_64722644,Sale,3.0,1.0,3 bed semi-detached house for sale,"£525,000","Sandringham Road, Bromley BR1",Alan De Maid - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
4,4,listing_64716817,Sale,4.0,2.0,4 bed end terrace house for sale,"£525,000","Lytchet Road, Sundridge Park, Bromley BR1",Maguire Baylis,https://www.zoopla.co.uk/for-sale/details/6471...,BR1,Bromley,2023-05-27

In [275]:
zpl_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7769 entries, 0 to 7768
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             7769 non-null   int64
 1   Result_id         7769 non-null   object
 2   Transaction_type  7769 non-null   object
 3   Bedroom           7677 non-null   float64
 4   Bathroom          7378 non-null   float64
 5   Property_type     7769 non-null   object
 6   Price             7769 non-null   object
 7   Location          7769 non-null   object
 8   Agent             7758 non-null   object
 9   Listing_url       7769 non-null   object
 10  postcode          7769 non-null   object
 11  Borough           7769 non-null   object
 12  Date              7769 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 849.7+ KB

#### Let's append the batches with zoopla data

In [276]:
zpl_df = zpl_df.append([zpl_batch2, zpl_batch3, zpl_batch4, zpl_batch5, zpl_batch8])

/var/folders/7y/hlx940nj4gjfxw9d2wz9y0080000gn/T/ipykernel_37965/3272709822.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  zpl_df = zpl_df.append([zpl_batch2, zpl_batch3, zpl_batch4, zpl_batch5, zpl_batch8])

In [277]:
zpl_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33834 entries, 0 to 5525
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             33834 non-null  int64
 1   Result_id         33834 non-null  object
 2   Transaction_type  33834 non-null  object
 3   Bedroom           33478 non-null  float64
 4   Bathroom          32065 non-null  float64
 5   Property_type     33834 non-null  object
 6   Price             33834 non-null  object
 7   Location          33834 non-null  object
 8   Agent             33671 non-null  object
 9   Listing_url       33834 non-null  object
 10  postcode          33834 non-null  object
 11  Borough           33834 non-null  object
 12  Date              33834 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 3.6+ MB

# Cleaning

### cleaning price column

In [278]:
rm_df['Price'] = rm_df['Price'].apply(lambda x: re.search(r'(\d{1,3}(?:,\d{3})*)', x).group(1).replace(',', '') if re.search(r'(\d{1,3}(?:,\d{3})*)', x) else None)
otm_df.Price = otm_df['Price'].apply(lambda x: re.search(r'(\d{1,3}(?:,\d{3})*)', x).group(1).replace(',', '') if re.search(r'(\d{1,3}(?:,\d{3})*)', x) else None)
zpl_df['Price'] = zpl_df['Price'].apply(lambda x: re.search(r'(\d{1,3}(?:,\d{3})*)', x).group(1).replace(',', '') if re.search(r'(\d{1,3}(?:,\d{3})*)', x) else None)

## Extracting property_type column for zoopla and onthemarket df

In [279]:
def get_property_type(text):
    pattern = r'(?i)(?:bed(?:room)?\s+)([\w\s]+?)(?:\s+house|\s+to\b|\b(\w+)\sto\b|\b(\w+)\sto\s+\w+|\s+for\s+(\w+)|\s+(\bplot\b))'
    match = re.search(pattern, text)
    if match:
        return match.group(1) or match.group(2) or match.group(3) or match.group(4) or match.group(5)
    else:
        return None

In [280]:
otm_df['Property_type'] = otm_df['Property_type'].apply(get_property_type)
zpl_df['Property_type'] = zpl_df['Property_type'].apply(get_property_type)

In [281]:
otm_df['Property_type'].value_counts()

flat                       21077
apartment                  20556
terraced                    5579
detached                    2777
house                       2091
end of terrace              1710
maisonette                  1679
penthouse                    592
property                     439
retirement property          409
bungalow                     338
ground floor flat            296
townhouse                    255
duplex                       214
in a                         210
mews                         199
detached bungalow            178
ground floor                 105
cottage                       70
ground floor maisonette       68
in a flat                     64
link detached                 62
house                         53
block of apartments           45
houseboat                     40
property with land            32
park home                     30
detached                      12
terraced bungalow             10
retirement                     9
parking                        8
chalet                         8
private                        7
serviced                       7
equestrian property            6
bedsit                         6
mobile home                    5
lodge                          5
character property             4
house share                    3
flat                           3
triplex                        2
serviced apartment             2
block of                       2
villa                          2
detached villa                 2
barn conversion                2
barn                           1
flat share                     1
garage                         1
country                        1
barn                           1
village                        1
Name: Property_type, dtype: int64

In [282]:
zpl_df['Property_type'].value_counts()

flat                 18663
terraced              3543
detached              1991
property              1316
end terrace           1183
maisonette            1103
bungalow               370
town                   179
detached bungalow      154
mews                    61
link detached           60
cottage                 33
land                    25
houseboat               19
block of flats          10
country                  8
chalet                   6
parking                  6
detached                 5
lodge                    5
terraced bungalow        4
retail                   4
hotel                    3
block of                 2
barn                     2
equestrian               1
farmhouse                1
barn conversion          1
Name: Property_type, dtype: int64

In [283]:
def fix_name_type(df):
    df.drop("index", axis=1, inplace=True)
    df.rename(columns = {'Location':'Address', 'Borough' : 'Location'}, inplace = True)
    df.Price = df.Price.astype("float")
    
    return df

In [284]:
rm_df = fix_name_type(rm_df)
otm_df = fix_name_type(otm_df)
zpl_df = fix_name_type(zpl_df)

In [285]:
rm_df.head()

,Transaction_type,Bedroom,Bathrooms,Description,Property_type,Price,Address,Agent,Listing_url,Location,Date
0,Sale,2.0,1.0,Proctors Bromley office is delighted to offer ...,Terraced,425000.0,"Plaistow Lane, Bromley, BR1","Added on 13/05/2023 by Proctors, Bromley",https://www.rightmove.co.uk/,Bromley,2023-05-26
1,Sale,NaN,NaN,Private residential development opportunity lo...,Plot for sale,5750000.0,"Plaistow Lane, Bromley, BR1","Marketed by Knight Frank Land, London",https://www.rightmove.co.uk/,Bromley,2023-05-26
2,Sale,6.0,5.0,Located in one of Bickley's finest private roa...,Detached,2500000.0,"Plaistow Lane, Bromley, BR1","Added on 10/05/2023 by Alan de Maid, Chislehurst",https://www.rightmove.co.uk/,Bromley,2023-05-26
3,Sale,5.0,5.0,"Guide Price £2,500,000 to £2,600,000. Brand ne...",Detached,2500000.0,"Plaistow Lane, Bromley, BR1","Added on 16/03/2023 by Unique, Langford Russel...",https://www.rightmove.co.uk/,Bromley,2023-05-26
4,Sale,6.0,3.0,"This leafy, gentle cul-de-sac is a lovely loca...",Detached,2400000.0,"Plaistow Lane, Bromley, BR1","Added on 22/02/2023 by jdm, Chislehurst",https://www.rightmove.co.uk/,Bromley,2023-05-26

In [286]:
otm_df.head()

,Result_id,Transaction_type,Bedroom,Bathroom,Property_type,Price,Address,Agent,Listing_url,postcode,Location,Date
0,result-12923747,Sale,3,1.0,flat,575000.0,"Shawfield Park, Bromley",Kinleigh Folkard & Hayward - Chislehurst Sales,https://www.onthemarket.com/details/12923747/,BR1,Bromley,2023-05-27
1,result-13261675,Sale,2,2.0,flat,475000.0,"Holmbury Park, Bromley",Kinleigh Folkard & Hayward - Chislehurst Sales,https://www.onthemarket.com/details/13261675/,BR1,Bromley,2023-05-27
2,result-13263288,Sale,3,1.0,end of terrace,450000.0,"Rangefield Road, Bromley",BR Estate Agent - Bromley,https://www.onthemarket.com/details/13263288/,BR1,Bromley,2023-05-27
3,result-13187264,Sale,6,3.0,detached,1150000.0,"College Road, Bromley, BR1",Foxtons - Bromley,https://www.onthemarket.com/details/13187264/,BR1,Bromley,2023-05-27
4,result-13257555,Sale,1,1.0,flat,300000.0,"Faro Close, Bromley, BR1 2RR",Hunters - Chislehurst & Bromley,https://www.onthemarket.com/details/13257555/,BR1,Bromley,2023-05-27

In [287]:
zpl_df.head()

,Result_id,Transaction_type,Bedroom,Bathroom,Property_type,Price,Address,Agent,Listing_url,postcode,Location,Date
0,listing_64729559,Sale,3.0,2.0,town,525000.0,"Spencer Road, Bromley BR1",Proctors - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
1,listing_64725613,Sale,2.0,2.0,flat,525000.0,"Rodway Road, Bromley BR1",Langford Russell - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
2,listing_64724547,Sale,3.0,1.0,end terrace,525000.0,"Rangefield Road, Downham, Bromley BR1",BR Estate Agent,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
3,listing_64722644,Sale,3.0,1.0,None,525000.0,"Sandringham Road, Bromley BR1",Alan De Maid - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27
4,listing_64716817,Sale,4.0,2.0,end terrace,525000.0,"Lytchet Road, Sundridge Park, Bromley BR1",Maguire Baylis,https://www.zoopla.co.uk/for-sale/details/6471...,BR1,Bromley,2023-05-27

Let's add source column

In [288]:
rm_df["Source"] = "Rightmove"
otm_df["Source"] = "Onthemarket"
zpl_df["Source"] = "Onthemarket"

In [291]:
def unify_property_type(property_type):
    
    if property_type is None:
        return None
    
    words = property_type.lower().split()
    if 'end' in words and 'terrace' in words:
        return 'End Terraced'
    elif 'plot' in words or 'land' in words:
        return 'Land'
    else:
        return property_type.capitalize()

In [294]:
rm_df['Property_type'] = rm_df['Property_type'].apply(unify_property_type)
otm_df['Property_type'] = otm_df['Property_type'].apply(unify_property_type)
zpl_df['Property_type'] = otm_df['Property_type'].apply(unify_property_type)

In [295]:
rm_df.head()

,Transaction_type,Bedroom,Bathrooms,Description,Property_type,Price,Address,Agent,Listing_url,Location,Date,Source
0,Sale,2.0,1.0,Proctors Bromley office is delighted to offer ...,Terraced,425000.0,"Plaistow Lane, Bromley, BR1","Added on 13/05/2023 by Proctors, Bromley",https://www.rightmove.co.uk/,Bromley,2023-05-26,Rightmove
1,Sale,NaN,NaN,Private residential development opportunity lo...,Land,5750000.0,"Plaistow Lane, Bromley, BR1","Marketed by Knight Frank Land, London",https://www.rightmove.co.uk/,Bromley,2023-05-26,Rightmove
2,Sale,6.0,5.0,Located in one of Bickley's finest private roa...,Detached,2500000.0,"Plaistow Lane, Bromley, BR1","Added on 10/05/2023 by Alan de Maid, Chislehurst",https://www.rightmove.co.uk/,Bromley,2023-05-26,Rightmove
3,Sale,5.0,5.0,"Guide Price £2,500,000 to £2,600,000. Brand ne...",Detached,2500000.0,"Plaistow Lane, Bromley, BR1","Added on 16/03/2023 by Unique, Langford Russel...",https://www.rightmove.co.uk/,Bromley,2023-05-26,Rightmove
4,Sale,6.0,3.0,"This leafy, gentle cul-de-sac is a lovely loca...",Detached,2400000.0,"Plaistow Lane, Bromley, BR1","Added on 22/02/2023 by jdm, Chislehurst",https://www.rightmove.co.uk/,Bromley,2023-05-26,Rightmove

In [296]:
otm_df.head()

,Result_id,Transaction_type,Bedroom,Bathroom,Property_type,Price,Address,Agent,Listing_url,postcode,Location,Date,Source
0,result-12923747,Sale,3,1.0,Flat,575000.0,"Shawfield Park, Bromley",Kinleigh Folkard & Hayward - Chislehurst Sales,https://www.onthemarket.com/details/12923747/,BR1,Bromley,2023-05-27,Onthemarket
1,result-13261675,Sale,2,2.0,Flat,475000.0,"Holmbury Park, Bromley",Kinleigh Folkard & Hayward - Chislehurst Sales,https://www.onthemarket.com/details/13261675/,BR1,Bromley,2023-05-27,Onthemarket
2,result-13263288,Sale,3,1.0,End terraced,450000.0,"Rangefield Road, Bromley",BR Estate Agent - Bromley,https://www.onthemarket.com/details/13263288/,BR1,Bromley,2023-05-27,Onthemarket
3,result-13187264,Sale,6,3.0,Detached,1150000.0,"College Road, Bromley, BR1",Foxtons - Bromley,https://www.onthemarket.com/details/13187264/,BR1,Bromley,2023-05-27,Onthemarket
4,result-13257555,Sale,1,1.0,Flat,300000.0,"Faro Close, Bromley, BR1 2RR",Hunters - Chislehurst & Bromley,https://www.onthemarket.com/details/13257555/,BR1,Bromley,2023-05-27,Onthemarket

In [297]:
zpl_df.head()

,Result_id,Transaction_type,Bedroom,Bathroom,Property_type,Price,Address,Agent,Listing_url,postcode,Location,Date,Source
0,listing_64729559,Sale,3.0,2.0,Flat,525000.0,"Spencer Road, Bromley BR1",Proctors - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27,Onthemarket
1,listing_64725613,Sale,2.0,2.0,Flat,525000.0,"Rodway Road, Bromley BR1",Langford Russell - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27,Onthemarket
2,listing_64724547,Sale,3.0,1.0,End terraced,525000.0,"Rangefield Road, Downham, Bromley BR1",BR Estate Agent,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27,Onthemarket
3,listing_64722644,Sale,3.0,1.0,Detached,525000.0,"Sandringham Road, Bromley BR1",Alan De Maid - Bromley,https://www.zoopla.co.uk/for-sale/details/6472...,BR1,Bromley,2023-05-27,Onthemarket
4,listing_64716817,Sale,4.0,2.0,Flat,525000.0,"Lytchet Road, Sundridge Park, Bromley BR1",Maguire Baylis,https://www.zoopla.co.uk/for-sale/details/6471...,BR1,Bromley,2023-05-27,Onthemarket

In [ ]:
#master_list = pd.merge(rm_df, otm_df, on='Unique_ID', how='outer')
#master_list = pd.merge(master_list, zpl_df, on='Unique_ID', how='outer')